@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #ebebeb;
    user-select: none;
}
header {
    width: 100%;
    height: 80px;
    padding: 0 45px 0 45px;
    background-color: #ffc727;
}

.navbar{
    display: flex;
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: space-between;
    background-color: #ffc727;
    padding-block: 5px; 
}

.logo{
    margin-right: 50px;
    width: 170px;
    padding-left: 15px;
}

header a:hover {
    background-color: #ffc727;
    color: #fff;
    transition: 300ms;
}

.containerOpciones {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #ffc727;
    padding-block: 5px;
}

.containerOpciones .containerBtn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-block: 5px;
}

.containerOpciones .containerBtn .btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6.5px 15px;
    margin-inline: 5px;

    border-radius: 25px;
    background-color: #fff;
    color: #000;
    font-weight: 600;

    text-decoration: none;
    cursor: pointer;
}

.containerOpciones .containerBtn .btn:hover {
    background-color: #ffc727;
    color: #fff;
    transition: 300ms;
}

.containerBuscador {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    padding: 6.5px 0;
    border-radius: 25px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    transition: 300ms ;
    margin-right: 10px;
}

.containerBuscador:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
}

.containerBuscador .fa-magnifying-glass {
    color: #757575;
    font-size: 1rem;
    margin-left: 10px;
}

.buscador {
    width: 85%;
    height: 100%;
    border: none;
    border-radius: 25px;
    padding: 0 10px;
    font-size: 1.2rem;
    background-color: #fff;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

.buscador:focus {
    outline: none;
}

.containerMenu {
    background-color: #ffc727;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorias {
    margin-inline: 5px;
    border: none;
    text-align: center;
    padding: 5px;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 5px;
}
/* Carrusel en css nativo */

.slider-frame {
    width: 1900px;
    height: 320px;
    overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 40s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
    height: auto;
    z-index: -100;
    margin-top: -15px;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/* Tarjetas de los productos */

.containerProductos {
    margin: 20px;
   /*  background-color: #fff; */
    display: flex;
    flex-direction: column;
    margin-left: 15.625rem;
    margin-right: 3.125rem;
    border-radius: 25px;
}

.containerinfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-inline: 10px;
}

.link {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    color: #234edb;
}

.link:hover {
    color: #e6b323;
    transition: 300ms ease-in-out;
    font-weight: 700;
    font-size: 1rem;
}


.cardProducto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    transition: 300ms ease-in-out;
}

.cardProducto:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
}

.encabezado {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    column-gap: 30px;
    height: auto;
}

.encabezado .tituloProducto {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0px;
}

.encabezado .tituloPrecio {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0px;
    color: #234edb;
}

.cardProducto img {
    width: 200px;
}

.cardProducto .nombreProducto {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 6px;
    text-align: center;

}

.cardProducto .descripcion {
    font-size: 1rem;
    font-weight: 400;
    margin-top: -5px;
    text-align: center;
}

.cardProducto .btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 5px 10px;
    text-align: center;
    width: 10rem;

    border-radius: 8px;
    background-color: #234edb;
    color: #fff;

    text-decoration: none;
    cursor: pointer;
}

.cardProducto .btn:hover {
    background-color: #e6b323;
    color: #fff;
    transition: 300ms;
}