@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #ebebeb;
    user-select: none;
}

header {
    width: 100%;
    height: 5rem;
    padding: 0 2.8125rem 0 2.8125rem;
    background-color: #ffc727;
}

.logo {
    margin-right: 3.125rem;
    width: 10.625rem;
    padding-left: .9375rem;
}

.logo:hover {
    cursor: pointer;
}

.icon {
    font-size: 1.35rem;
}

.containerOpciones {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #ffc727;
}

.containerOpciones .containerBtn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-block: .3125rem;
}

.containerOpciones .containerBtn .btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .4063rem .9375rem;
    margin-inline: .3125rem;

    border-radius: 1.5625rem;
    background-color: #fff;
    color: #000;
    font-weight: 600;

    text-decoration: none;
    cursor: pointer;
}

.containerOpciones .containerBtn .btn:hover {
    background-color: #ffc727;
    color: #fff;
    transition: 300ms;
}

.containerBuscador {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: .4063rem 0;
    border-radius: 1.5625rem;
    box-shadow: 0 .3125rem .3125rem rgba(0, 0, 0, 0.25);
    transition: 300ms;
    margin-right: .625rem;
}

.containerBuscador:hover {
    box-shadow: 0 .3125rem .3125rem rgba(0, 0, 0, 0.75);
}

.containerBuscador .fa-magnifying-glass {
    color: #757575;
    font-size: 16px;
    margin-left: .625rem;
}

.buscador {
    width: 85%;
    height: 100%;
    border: none;
    border-radius: 1.5625rem;
    padding: 0 .625rem;
    font-size: 19.2px;
    background-color: #fff;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

.buscador:focus {
    outline: none;
}

.containerMenu {
    background-color: #ffc727;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categorias {
    margin-inline: .3125rem;
    border: none;
    text-align: center;
    padding: .3125rem;
    margin-right: 30px;
    border-radius: 1.5625rem;
    font-family: 'Montserrat', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: .3125rem;
}

/* Carrusel en css nativo */
.slider-frame {
    height: 20rem;
    overflow: hidden;
    margin-bottom: 20px;
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;

    animation: slide 40s infinite alternate ease-in-out;
}

.slider-frame li {
    width: 100%;
    list-style: none;
}

.slider-frame img {
    width: 100%;
    height: auto;
    z-index: -100;
    margin-top: -16px;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

/* Tarjetas de los productos */

.containerProductos {
    margin: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    border-radius: 25px;
    margin-bottom: 30px;
}

.containerinfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: -30px;
    margin-inline: 10px;
}

.link {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    color: #234edb;
}

.link:hover {
    color: #ff7400;
    transition: 300ms ease-in-out;
    font-weight: 700;
    font-size: 16px;
}

.containerCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.cardProducto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 275px;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    transition: 300ms ease-in-out;
}

.cardProducto:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
}

.encabezado {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    column-gap: 1.875rem;
    height: auto;
}

.encabezado .tituloProducto {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0px;
}

.encabezado .tituloPrecio {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0px;
    color: #234edb;
}

.cardProducto img {
    width: 200px;
    max-width: 200px;
    height: 200px;
    max-height: 200px;
    object-fit: fill;
    min-height: 200px;
    min-width: 200px;
}

.cardProducto .nombreProducto {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 6px;
    text-align: center;

    width: 100%;
    height: 100%;
    /* min-height: 3rem;
    max-height: 3rem; */
}

.cardProducto .descripcion {
    font-size: 16px;
    font-weight: 400;
    margin-top: -5px;
    text-align: center;
}

.cardProducto .btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 5px 10px;
    text-align: center;
    width: 160px;

    border-radius: 8px;
    background-color: #234edb;
    color: #fff;

    text-decoration: none;
    cursor: pointer;
}

.cardProducto .btn:hover {
    background-color: #e6b323;
    color: #fff;
    transition: 300ms;
}

/* Estilos para el boton */
.btn {
    font-family: 'Montserrat', sans-serif;
    background-color: #e6b323;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 30px -5px rgba(0, 0, 0, 0.50);
    transition: box-shadow 300ms;
    margin-top: 10px;
}

.btn:hover {
    background-color: #ff7400;
    color: #fff;
    font-weight: bolder;
    transition: 300ms all;
}

::-webkit-scrollbar {
    width: 0.8rem;
    background-color: #c1c1c1;
}

::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9b9b9b;
}
.contenido-total{
    display: flex;
    margin-bottom: 40px;
}
.pagina-facebook{
    display: flex;
    margin-left: 10px;
}

/* Media qwery */
@media screen and (max-width: 1200px) {
    .containerCards {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* NAV */

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    background-color: #e6b323;
    max-width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
    justify-content: center;
    
}

.nav-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    position: relative;
}

.nav-link > a{
    line-height: 3rem;
    color: #000;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.nav-link > a > i{
    margin-left: .2rem;
}

.nav-link:hover > a{
    transform: scale(1.1);
}

.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdown ul{
    position: relative;
}

.dropdown-link > a{
    display: flex;
    background-color: #fff;
    color: #ffc727;
    padding: .5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.dropdown-link:hover > a{
    background-color: #ff7400;
    color: #fff;
}

.dropdown-link:not(:nth-last-child(2)){
    border-bottom: 1px solid #efefef;
}

.dropdown-link i{
    transform: rotate(-90deg);
}

.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow{
    background-color: #ff7400;
}

.dropdown-link{
    position: relative;
}

.dropdown.second{
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
}

.dropdown.second .arrow{
    top: 10px;
    left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.hamburger-menu-container{
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu div{
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
    transition: .5s;
}

.hamburger-menu div:before{
    transform: translateY(-7px);
}

.hamburger-menu div:after{
    transform: translateY(7px);
}

#check{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div{
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before{
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after{
    transform: translateY(0) rotate(45deg);
}

@keyframes animation{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 920px){
    .hamburger-menu-container{
        display: flex;
    }

    #check{
        display: block;
    }

    .nav-btn{
        position: fixed;
        height: calc(100vh - 3rem);
        top: 9.8rem;
        left: 0;
        width: 100%;
        background-color: #eeba2b;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
        z-index: 1;
    }

    #check:checked ~ .nav-btn{
        transform: translateX(0);
    }

    #check:checked ~ .nav-btn .nav-link,
    #check:checked ~ .nav-btn .log-sign{
        animation: animation .5s ease forwards var(--i);
    }

    .nav-links{
        flex: initial;
        width: 100%;
    }

    .nav-links > ul{
        flex-direction: column;
    }

    .nav-link{
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }

    .nav-link > a{
        line-height: 1;
        padding: 1.6rem 2rem;
    }

    .nav-link:hover > a{
        transform: scale(1);
        background-color: #ff7400;
    }

    .dropdown, .dropdown.second{
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: #c1951e;
        display: none;
    }
    
    .nav-link:hover > .dropdown,
    .dropdown-link:hover > .dropdown{
        display: block;
    }

    .nav-link:hover > a > i,
    .dropdown-link:hover > a > i{
        transform: rotate(360deg);
    }

    .dropdown-link > a{
        background-color: transparent;
        color: #fff;
        padding: 1.2rem 2rem;
        line-height: 1;
    }

    .dropdown.second .dropdown-link > a{
        padding: 1.2rem 2rem 1.2rem 3rem;
    }

    .dropdown.second .dropdown.second .dropdown-link > a{
        padding: 1.2rem 2rem 1.2rem 4rem;
    }

    .dropdown-link:not(:nth-last-child(2)){
        border-bottom: none;
    }

    .arrow{
        z-index: 1;
        background-color: #ff7400;
        left: 10%;
        transform: scale(1.1) rotate(45deg);
        transition: .5s;
    }

    .nav-link:hover .arrow{
        background-color: #ff7400;
    }

    .dropdown .dropdown .arrow{
        display: none;
    }

    .dropdown-link:hover > a{
        background-color: #3a91bd;
    }

    .dropdown-link:first-child:hover ~ .arrow{
        background-color: #50a9d6;
    }

    .nav-link > a > i{
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: .7s;
    }

    .dropdown i{
        font-size: 1rem;
        transition: .7s;
    }

    .log-sign{
        flex: initial;
        width: 100%;
        padding: 1.5rem 1.9rem;
        justify-content: flex-start;
        opacity: 0;
        transform: translateY(15px);
    }
}

.subtitulo{
    margin-top: 15px;
}