@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #dddddd;
}

header {
    width: 100%;
    height: 80px;
    /* position: fixed; */
    top: 0;
    right: 0;
    /* z-index: 100; */
    padding: 0 45px 0 45px;
    background-color: #ffc727;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-block: 5px;
}

.navbar a {
    text-decoration: none;
    color: black;
    margin: 0 10px 0 10px;
    font-weight: 600;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 30px -5px rgba(0, 0, 0, 0.25);
    transition: box-shadow 300ms;
    /*Inherits the same color as the parent element or grandparent (the body) unless you set the color to the navbar.*/
}

.navbar a:hover {
    box-shadow: 1px 1px 30px -5px rgba(0, 0, 0, 0.75);

}

.logo {
    margin-right: 50px;
    width: 200px;
    padding-left: 15px;
}

.list {
    list-style: none;
    display: flex;
    gap: 25px;
}

#toggler,
.navbar label {
    display: none;
}

@media screen and (max-width: 765px) {
    .menu {
        width: 100%;
        max-height: 0;
        /*Makes the max-height 0 to side the expanded menu.*/
        overflow: hidden;
        /*Hides the overflowing content.*/
    }

    .list {
        flex-direction: column;
        /*Chances the direction of the flex container. By default it is a row so we change it to column in small screens.*/
        align-items: center;
        padding: 20px;
    }

    .navbar label {
        display: inline-flex;
        /*Makes it an inline flex container for the icon. Used for centering the icon inside this box.*/
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked~.menu {
        max-height: 100%;
    }
}

header a {
    text-decoration: none;
    color: black;
    margin: 0 10px 0 10px;
    font-weight: 600;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 30px -5px rgba(0, 0, 0, 0.25);
    transition: box-shadow 300ms;
}

header a:hover {
    background-color: #ffd527;
    color: #fff;
    transition: 300ms;
}

header a:active {
    background-color: #ffd527;
    color: #fff;
    transition: 300ms;
}

/* Editar el section que contiene todos los demás articles*/

.container-all {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 0.5fr);
    padding-bottom: 40px;
}

span {
    color: #e6b323;
}

/* Estilos del contenedor del titulo y el menu */
.contenedor-titulos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    margin: 15px 60px -15px 60px;
    border-radius: 25px;
    padding: 15px;
    box-shadow: 1px 1px 30px -5px rgba(0, 0, 0, 0.25);
}

.contenedor-titulos:hover {
    box-shadow: 1px 1px 30px -5px rgba(0, 0, 0, 0.75);
    transition: 300ms all;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a {
    padding: 0 10px 0 10px;
    background-color: #e6c15c;
    text-decoration: none;
    margin: -8px 10px 8px 10px;
    padding: 15px;
    border-radius: 30px;
    color: #000;
}

a:hover {
    background-color: #ffd527;
    color: #fff;
    transition: 300ms;
    font-weight: 700;
}

/* Estilos de los contenedores generales */
.contenedor {
    background-color: #fff;
    border-radius: 30px;
    margin: 30px 60px -5px 60px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 30px -5px rgba(0, 0, 0, 0.25);
}

.contenedor:hover {
    box-shadow: 1px 1px 30px -5px rgba(0, 0, 0, 0.75);
    transition: 300ms all;
}

#subtitulo {
    font-size: 26px;
    font-weight: 700;
    margin: 0px 0px 10px 0px;
    color: #000;
}

/* Estilos para los form */
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entrada-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 35px;
}

.entrada-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 35px;
    row-gap: -15px;
}

.entrada-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 35px;
    row-gap: 15px;
}

/* Implementacion del estilo para las cajas */
.input-group {
    position: relative;
    margin: 20px 0;
}

.input-group-2 {
    position: relative;
    margin: 18px 0;
}

.input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: #000;
    background-color: transparent;
    outline: 2px solid #e6b323;
}

.input-label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transform-origin: left;
    transition: transform .25s;
}

.input:focus~.input-label,
.input:valid~.input-label {
    transform: translate(0, -30px) scale(.8);
    color: #e6b323;
}

.input:is(:focus, :valid) {
    outline-color: #e6b323;
}

/* Estilos para el boton */
.btn {
    font-family: 'Montserrat', sans-serif;
    background-color: #e6b323;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 30px -5px rgba(0, 0, 0, 0.50);
    transition: box-shadow 300ms;
    margin-top: 10px;
}

.btn:hover {
    background-color: #e6b323;
    color: #fff;
    font-weight: bolder;
    transition: 300ms all;
}

/* Estilos de las etiquetas p */
.leyenda-1 {
    font-size: 15px;
    font-weight: 600;
    color: #000;
    margin-top: -5px;
}

.leyenda-2 {
    font-size: 15px;
    font-weight: 600;
    color: #000;
    margin-top: -5px;
}

@media (max-width: 415px) {
    .contenedor-titulos{
        margin-left: 10px;
        width: 370px;
    }

    #subtitulo {
        font-size: 20px;
        font-weight: 700;
        margin: 0px 0px 10px 0px;
        color: #000;
    }

    p {
        font-size: 12px;
        font-weight: 600;
        color: #000;
        margin-top: -5px;
    }

    .contenedor {
        margin-left: 10px;
        width: 370px;
    }

    .leyenda-1 {
        font-size: 10px;
        font-weight: 600;
        color: #000;
        margin-top: -5px;
    }

    .leyenda-2 {
        font-size: 10px;
        font-weight: 600;
        color: #000;
        margin-top: -5px;
    }

    .entrada-1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .entrada-2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .entrada-3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}