@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

.container-header {
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    margin: auto;
}

.logo img {
    width: 200px;
}

header .logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container-nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    text-decoration: none;
    color: black;
    margin: 0 10px 0 10px;
    font-weight: 600;
    background-color: rgb(225, 163, 101);
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 30px -5px rgba(0, 0, 0, 0.25);
    transition: box-shadow 300ms;
}

header a:hover {
    background-color: #fd972b;
    color: #fff;
    transition: 300ms;
}

article img {
    width: 550px;
    padding-top: 50px;
    rotate: -2.5deg;
}

.bgcolor {
    width: 100%;
    height: 15vh;
    background-color: #b86c0f;
    position: absolute;
    top: 0;
}

.wave {
    width: 100%;
    height: 40%;
    position: absolute;
    top: 5px;
    background-image: url(assets/wave.svg);
    background-repeat: repeat-x;
}

.w1 {
    animation: w1 7s linear infinite;
}

.w2 {
    animation: w2 7s linear infinite;
}

@keyframes w1 {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1600px;
    }
}

@keyframes w2 {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1600px;
    }
}

.container-all {
    height: 88.5vh;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login h1 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: -10px;
}
.subcabecera{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.card-login span {
    color: #fd972b;
}

.card-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 65vh;
    height: 55vh;
    background-color: rgba(182, 182, 182, 0.25);
    box-shadow: 0 0 10px rgba(253, 151, 43, 0.75);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.input-group {
    position: relative;
    margin: 20px 0;
}

.input-group-2 {
    position: relative;
    margin: 18px 0;
}

.input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: #000;
    background-color: transparent;
    outline: 2px solid #fd972b;
}

.input-label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transform-origin: left;
    transition: transform .25s;
}

.input:focus~.input-label, .input:valid~.input-label {
    transform: translate(0, -30px) scale(.8);
    color: #fd972b;
}

.input:is(:focus, :valid) {
    outline-color: #fd972b;
}

.btn-login {
    background-color: #fd972b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 30px -5px rgba(0, 0, 0, 0.50);
    transition: box-shadow 300ms;
    margin-top: 20px;
}

.btn-login:hover {
    background-color: #ca7822;
    color: #fff;
    font-weight: bolder;
    transition: 300ms all;
}

.recuperar {
    margin-top: -5px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}